!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{:bgcolor => "gray"}
    %h1 Hello World!!!!...
    %p Tutorials...this is to learn css........
    %a{:href => "http://www.w3schools.com"} Tutorials
    :javascript
      alert("click on link");
